@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.MediaRelease>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "MasterTemplate.cshtml";
	var date = Model.Value<DateTime>("date");
}

<div class="container">
    <div class="row mb4">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <h1>@Model.Value("Title")</h1>
            <p>Tag: 
@if (Model.HasValue("tag"))
{
    @(Model.Value<string>("tag"))
}            
            </p>
            <p>Date Published: @date.ToString("dd MMMM yyyy")</p>
        </div><!-- /col -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            @Model.Value("bodyText")
        </div><!-- /col -->        
    </div><!-- /row -->
</div><!-- /container -->